In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv('Social_Network_Ads.csv')
df.head(2)

    User ID Gender  Age  EstimatedSalary  Purchased
0  15624510   Male   19            19000          0
1  15810944   Male   35            20000          0

In [3]:
gen={'Male':1,'Female':0}
df.Gender=[gen[item]for item in df.Gender]
df.head(2)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0

In [4]:
X=df[['Age','EstimatedSalary']]
n = len(X)
n = int(0.70*n)

In [5]:
df = pd.read_csv('Social_Network_Ads.csv',nrows=n)

In [6]:
X=df[['Age','EstimatedSalary']]
Y=df['Purchased']

In [7]:
model = LogisticRegression()
model.fit(X,Y)

LogisticRegression()

In [8]:
print(model.coef_)

[[-3.32122274e-02  6.44589507e-06]]

In [9]:
print(model.intercept_)

[-0.00216869]

In [10]:
print(model.predict([[36,76000]]))

[0]

G:\Anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(