In [11]:
from sklearn.naive_bayes import GaussianNB
import pandas as pd

df = pd.read_csv('PlayFootball.csv')
df.head(2)

  Outlook Temperature Humidity    Wind Play
0   Sunny         Hot     High    Weak   No
1   Sunny         Hot     High  Strong   No

In [12]:
otl={'Sunny':1,'Overcast':2,'Rain':3}
df.Outlook=[otl[item]for item in df.Outlook]
df.head(2)

   Outlook Temperature Humidity    Wind Play
0        1         Hot     High    Weak   No
1        1         Hot     High  Strong   No

In [13]:
tmp = {'Hot':4,'Mild':5,'Cool':6}
df.Temperature = [tmp[item]for item in df.Temperature]
df.head(2)

   Outlook  Temperature Humidity    Wind Play
0        1            4     High    Weak   No
1        1            4     High  Strong   No

In [14]:
hmd = {'High':1,'Normal':2}
df.Humidity = [hmd[item]for item in df.Humidity]
df.head(2)

   Outlook  Temperature  Humidity    Wind Play
0        1            4         1    Weak   No
1        1            4         1  Strong   No

In [15]:
wnd = {'Weak':1,'Strong':2}
df.Wind = [wnd[item]for item in df.Wind]
df.head(2)

   Outlook  Temperature  Humidity  Wind Play
0        1            4         1     1   No
1        1            4         1     2   No

In [16]:
X = df.drop('Play',axis=1)
Y = df['Play'].values
X = X.values

In [19]:
gnb = GaussianNB()

gnb.fit(X,Y)

# Classify the new data point
new_data = [[1,6,1,2]]
prediction = gnb.predict(new_data)

if prediction[0] == 'No':
    print("The new data point is classified as No")
else:
    print("The new data point is classified as Yes")

The new data point is classified as No