In [32]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [33]:
df = pd.read_csv('Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [34]:
gen={'Male':1,'Female':0}
df.Gender=[gen[item]for item in df.Gender]
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

In [35]:
X=df[['Age','EstimatedSalary']]
n = len(X)
n = int(0.70*n)

In [36]:
df = pd.read_csv('Social_Network_Ads.csv',nrows=n)

In [38]:
X=df[['Age','EstimatedSalary']]
Y=df['Purchased']

In [39]:
model = LogisticRegression()
model.fit(X,Y)

LogisticRegression()

In [40]:
print(model.coef_)

[[-3.32122274e-02  6.44589507e-06]]

In [41]:
print(model.intercept_)

[-0.00216869]

In [44]:
print(model.predict([[36,76000]]))

[0]