In [20]:
import pandas as pd
import numpy as np
from sklearn import tree

In [21]:
df = pd.read_csv("PlayFootball.csv")
df.head(2)

  Outlook Temperature Humidity    Wind Play
0   Sunny         Hot     High    Weak   No
1   Sunny         Hot     High  Strong   No

In [22]:
otl={'Sunny':1,'Overcast':2,'Rain':3}
df.Outlook=[otl[item]for item in df.Outlook]
df.head(2)

   Outlook Temperature Humidity    Wind Play
0        1         Hot     High    Weak   No
1        1         Hot     High  Strong   No

In [23]:
tmp = {'Hot':4,'Mild':5,'Cool':6}
df.Temperature = [tmp[item]for item in df.Temperature]
df.head(2)

   Outlook  Temperature Humidity    Wind Play
0        1            4     High    Weak   No
1        1            4     High  Strong   No

In [24]:
hmd = {'High':1,'Normal':2}
df.Humidity = [hmd[item]for item in df.Humidity]
df.head(2)

   Outlook  Temperature  Humidity    Wind Play
0        1            4         1    Weak   No
1        1            4         1  Strong   No

In [25]:
wnd = {'Weak':1,'Strong':2}
df.Wind = [wnd[item]for item in df.Wind]
df.head(2)

   Outlook  Temperature  Humidity  Wind Play
0        1            4         1     1   No
1        1            4         1     2   No

In [26]:
X = df.drop('Play',axis=1)
Y = df['Play'].values
X = X.values

In [27]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X,Y)

In [28]:
clf.predict([[3,1,2,1]])

array(['Yes'], dtype=object)